{% extends "base.html" %}

{% block content %}

 <div class="post single-post">

    <h1 style="margin-bottom: 2rem">Hi, I'm <span class="handwritten">Ben</span>.</h1>

    <p>I'm software developer from England who has far too many things he wants to do and far too little time (and sometimes motivation).</p>

    <p>I love LEGO, fountain pens, and all things space.</p>

    <p>I'm an Enterprise Architect by day, but try to code where I can, and primarily write in Python.
        I'm a member of the <a href="https://www.djangoproject.com/foundation/individual-members/">Django Software Foundation</a>, and have contributed exactly <a href="https://github.com/django/django/commit/f30b527f170fd4ec9bf10b5012e1ef79776a8f8e">one commit</a> to the Django source code.
    </p>

    <p>I enjoy building iOS apps with Swift and SwiftUI, and have two on the App Store at the moment: <a href="/pendulum/" title="Pendulum: easily keep track of your letters to pen pals">Pendulum</a> and <a href="https://tildy.dev/elsewhen/" title="Elsewhen: time zones, translated">Elsewhen</a>.</p>

    <p>You can find me on Mastodon (though I rarely post) as <a href="https://snailedit.social/@benbacardi">benbacardi@snailedit.social</a>, or send me an email at <a href="javascript:location='mailto:' + atob('YmVuQG1hcm1hbGFkZW9mY291cnNlLmNvbQ==');void 0"><script>document.write(atob("YmVuQG1hcm1hbGFkZW9mY291cnNlLmNvbQ=="));</script></a>.</p>

    <h2 style="margin-top: 2rem">Why &ldquo;Marmalade, <span class="handwritten">of course</span>&rdquo;?</h2>

    <p>Well, <a href="https://paddingtonthemusical.com/">why not?</a></p>

</div>

{% endblock %}
