  <div class="post {% if single_post %}single-post{% endif %}">

    <small class="metadata">
      {% if article.category %}<a href="{{ CATEGORIES_URL }}#{{ article.category.slug }}">{{ article.category.name }}</a>{% endif %}
      {% if article.tags %}
        |
        {% for tag in article.tags %}
          <a href="{{ TAGS_URL }}#{{ tag.slug }}">{{ tag.name }}</a>
          {% if not loop.last %}|{% endif %}
        {% endfor %}
      {% endif %}
    </small>
    <h1>
      {% if "link" in article.metadata %}
        <a href="{{ article.metadata['link'] }}">
          {{ article.title }}
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </a>
      {% else %}
        {% if not single_post %}
          <a href="{{ article.url }}">{{ article.title }}</a>
        {% else %}
          {{ article.title }}
        {% endif %}
      {% endif %}
    </h1>
    <div class="timestamp">
      <a href="{{ SITEURL }}{{ article.url }}" class="post-date">{{ article.date.strftime("%-d %B %Y") }}</a>
      <hr>
    </div>

    {{ article.content }}

  </div>
